#container
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 5px 5px;
	font-size: 11pt;
}

#headingBar
{
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

#headingBar h1
{
	padding: 0 20px 5px 30px;
	display: inline;
	font-size: 10pt;
	color: blue;
	border-right: 1px solid #ccc;
}

div#userSettings
{
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    color: blue;
    float:right;
    padding: 12px;
    background: lavender;
    display: inline-table;
    border: 2px solid #afcff9;
    margin: 2px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomright: 10px;
}

#logoBar
{
	background-image: url( "/gweb/images/titlegradient.png" );
	background-repeat: repeat-x;
	height: 33px;
}

img#logo
{
	margin-left: 15px;
	margin-top: 0px;
}

#logoBar a
{
	padding: 5px 10px;
	float: right;
	font-size: 10pt;
}

#logoBar img
{
	float: left;
}


div#menu {
	margin: 0px auto;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: left;
	padding: 5px 5px;
    border-bottom: #ccc 2px solid;

}



div#body
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 5px 5px;
    font-size: 11pt;

}



div#contentHeader {
    font: 13px, bold, Verdana, Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 1px;
    background: white;
    display: inline-table;
    width: 98%;

}

div#content {
    font: 11px, bold, Verdana, Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
    background: white;
    display: inline-table;
    border: 2px solid #afcff9;
    width: 98%;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomright: 10px;
}

img {
    border: none;
}

div#form {
    font: 9px Verdana, Arial, Helvetica, sans-serif;
}

div#formPanel {
        margin: 5px;
        padding: 5px;
        background: white;
        display: inline-table;
        border: 1px solid #afcff9;
}


div#formPanelButtons {
        margin: 5px;
        padding: 5px;
        background: white;
        display: inline-table;
        width:inherit;
}


/**
* Used to display operations like edit, delete etc.
*/
div#menuAction {
    background: #f4f4f2;
    font: 9px Verdana, Arial, Helvetica, sans-serif;
    display: inline-table;
    padding: 10px;
    border: 2px solid #afcff9;
    margin: 5px;
    width: 98%;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomright: 10px;
}

div#paragraph {
    padding: 10px;
    background: lavender;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    display: inline-table;
    border: 2px solid #afcff9;
    margin: 5px;
    width: 98%;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomright: 10px;

}

div#paragraphHeader {
    font: 13px / 19px Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    padding: 5px;
}

/*
* Tabbed menu using a <ul> list.
*/
ul.menu {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 5px;
}

ul.menu li {
    display: inline;
    margin-right: 10px;
}

ul.tabbed a {
    text-decoration: none;
    color: black;
}

ul.tabbed li {
    display: inline;
    background: #f4f4f2;
    padding: 4px 10px;
    margin-right: -6px;
    border: 2px solid #afcff9;
    border-bottom: none;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}

ul.tabbed li.active {
    background: #fff;
    border-top: 2px sx  olid #ebaa46;
}

/**
*
*/
table tr td {
    font: 11px Verdana, Arial, Helvetica, sans-serif, bold;
    height: 18px;
    padding: 2px;
    text-align: left;
}


table.pagedList th {
    font: 11px Verdana, Arial, Helvetica, sans-serif, bold;
    background-image: url( "/gweb/images/columnheader_gradient.gif" );
    height: 18px;
    padding: 2px;
    border-left: 2px solid lightgray;
    text-align: left;
}

table.pagedList th a {
    text-decoration: none;
    color: black;
}

table.pagedList td {
    font: 11px Verdana, Arial, Helvetica, sans-serif, bold;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
}

table.pagedList tr:hover {
    background: #eee;
    text-align: left;
}

/*
* General error message style.
*/
span.error {
    color: red;
    font-weight: bold;
}

span.warning {
    font-weight: bold;
    color: orangered;
}

span.message {
    font-weight: bold;
    color: green;
}

/*
 * Icon link.
 */
a.iconlink {
    text-decoration: none;
    font: 11px, bold, Verdana, Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
}

a.iconlink img {
    vertical-align: middle;
}

img.icon {
    vertical-align: top;
}

<!--
Form styling
-->
form.decoratedform {
    width: 370px;
    font-size: 1.0em;
    color: #333;
}

form.decoratedform legend {
    padding-left: 0;
}

form.decoratedform legend, form.decoratedform label {
    color: #333;
}

form.decoratedform fieldset {
    border: none;
    border-top: 1px solid #C9DCA6;
    background: url( ../images/cmxform-fieldset.gif ) left bottom repeat-x;
    background-color: #F8FDEF;
}

form.decoratedform fieldset fieldset {
    background: none;
}

form.decoratedform fieldset p, form.decoratedform fieldset fieldset {
    padding: 5px 10px 7px;
    background: url( ../images/cmxform-divider.gif ) left bottom repeat-x;
}

form.decoratedform label.error, label.error {
/* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic;
    padding-left: 16px;

    background: url( "/gweb/images/unchecked.gif" ) no-repeat 0px 0px;
}

em.error {
    background: url( "images/unchecked.gif" ) no-repeat 0px 0px;
    padding-left: 16px;
}

em.success {
    background: url( "images/checked.gif" ) no-repeat 0px 0px;
    padding-left: 16px;
}

div.error {
    display: none;
}

input {
    border: 1px solid black;
}

input:focus {
    border: 1px dotted black;
}

input.error {
    border: 1px dotted red;
}

form.decoratedform .gray * {
    color: gray;
}










/*
 * Decorator footer
 */
#footer
{
	font-size: 11px;
	border-top: #ccc 1px solid;
	margin-top: 30px;
	padding-top: 4px;
	clear: both;
}

#footer :after
{
	content: ".";
	clear: both;
	font-size: 1px;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

* html #footer
{
	height: 9px;
}

#footer p
{
	float: left;
	clear: left;
	margin-bottom: 10px;
}

#footer .links
{
	float: right;
	clear: right;
}